@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400;1,700&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@400;700&family=Ubuntu&display=swap');

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Lato';
}

/* NAVBAR STYLING */
.navbar-brand {
  font-family: 'Righteous';
  font-size: 35px;
  color: #00e8e8 !important;
  margin-left: 3%;
}

.nav-link {
  font-size: 18px;
  margin: 15px;
  color: white !important;
  font-family: 'Roboto Condensed';
}

.nav-link:hover {
  color: #00e8e8 !important;
}

.active .nav-link {
  color: #00e8e8 !important;
}

/* SITE CONTENT */
.site-content {
  background-image: url('/img/site.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.site-title,
.site-desc {
  color: white;
  font-family: 'Righteous';
}

.site-title {
  margin-top: 30%;
  margin-bottom: 6%;
  font-size: 50px;
}

.site-desc {
  font-size: 14px;
  padding-left: 13%;
}

.site-btn1 {
  margin-left: 20%;
  background-color: black;
  color: white;
  padding: 10px 10px;
}

.site-btn2 {
  background-color: white;
  padding: 10px 10px;
}

.site-btn1,
.site-btn2 {
  margin-top: 5%;
  margin-bottom: 65%;
}

/* SECTION-1 */
.section-1 .heading-1 {
  margin-top: 8%;
}

.section-1 .para-1 {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.section-1 .card-text,
.para-1 {
  color: rgba(0, 0, 0, 0.59);
}

.section-1 {
  margin-bottom: 8%;
}

.card {
  width: 20rem;
}

/* SECTION-2 */
.section-2 .container-fluid {
  background-image: url(/img/banner-2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.section-2 .heading-1 {
  margin-top: 20%;
  margin-bottom: 4%;
  font-family: 'Righteous';
  width: 80%;
  color: whitesmoke;
}

.section-2 .para {
  width: 80%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 7%;
}

.section-2 .btn {
  margin-bottom: 15%;
  width: 30%;
  padding: 2% 5%;
}

/* SECTION-3 */
.section-3 {
  margin-top: 6%;
}

.section-3 i {
  color: #00e8e8;
}

.section-3 p {
  color: rgba(0, 0, 0, 0.59);
}

/* SECTION-4 */
.section-4 {
  margin-top: 8%;
}

.section-4 .row .col-md-7,
.col-md-5 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-4 a {
  columns: lightseagreen;
  font-size: 40px;
  text-decoration: none;
}

.section-4 .para-1 {
  color: white;
  font-family: 'Roboto Condensed';
  margin-top: 7%;
  font-size: 23px;
}

/* FOOTER */
.get {
  margin-top: 5%;
}

.social i {
  color: #ef5651;
  font-size: 20px;
}

/* RESPONSIVENESS */
/* WIDESCREEN AND LAPTOPS */
@media screen and (max-width:1024px) {

  /* NAVBAR & SITE CONTENT */
  .navbar-brand {
    font-size: 24px;
    margin-left: 0;
  }

  .site-content .site-title {
    margin-bottom: 0;
    margin-top: 23%;
  }

  .site-content .site-desc {
    font-size: 15px;
    color: whitesmoke;
  }

  /* SECTION-1 */
  .section-1 .heading-1 {
    font-size: 24px;
  }

  .section-1 .para-1 {
    font-size: 18px;
  }

  .section-1 .row .card {
    width: 14rem;
  }

  .section-1 .row .card-title {
    font-size: 24px;
  }

  /* SECTION-2 */
  .section-2 .heading-1 {
    font-size: 35px;
  }

  .section-2 .para {
    font-size: 22px;
  }

  /* SECTION-3 */
  .section-3 .heading-1 {
    font-size: 32px;
  }

  .section-3 .row .d-flex h3 {
    font-size: 25px;
  }

  /* SECTION-4 */
  .section-4 .row .col-md-7 img {
    max-width: 400px;
    max-height: 900px;
    margin-top: 5%;
  }

  .section-4 .row .col-md-5 .text-white {
    font-size: 27px;
  }

  .section-4 .row .col-md-5 a {
    font-size: 21px;
  }

  .section-4 .row .col-md-5 .para {
    font-size: 25px;
  }
}

/* SMALLER SCREEN */
@media screen and (max-width:600px) {

  /* NAVBAR & SITE-CONTENT */
  .navbar-brand {
    font-size: 18px;
  }

  .site-content .site-title {
    margin-top: 20%;
    text-align: center;
    font-size: 35px;
  }

  .site-content .site-desc {
    font-size: 11px;
    margin-left: 0;
  }

  .site-content .d-flex .site-btn1 {
    margin-left: 8%;
  }

  /* SECTION-1 */
  .section-1 .heading-1 {
    font-size: 23px;
  }

  .section-1 .para-1 {
    width: 100%;
    margin-left: 0;
  }

  .section-1 .row .card {
    width: 100%;
    margin-bottom: 2%;
  }

  /* SECTION-4 */
  .section-4 .row .col-md-7 img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* MOBILE SCREEN */
@media screen and (max-width:385px) {

  /* NAVBAR & SITE-CONTENT */
  .navbar-brand {
    font-size: 16px;
    margin-left: 0;
  }

  .site-content .site-title {
    font-size: 23px;
    margin-bottom: 1%;
  }

  .site-content .site-desc {
    font-size: 9px;
  }

  .site-btn1 {
    padding: 6px 6px;
    margin-left: 7%;
  }

  .site-btn2 {
    padding: 6px 6px;
  }

  /* SECTION-1 */
  .section-1 .heading-1 {
    font-size: 21px;
  }

  .section-1 .para-1 {
    font-size: 15px;
  }

  .section-1 .row .card-title {
    font-size: 21px;
  }

  .section-1 .row .card-text {
    font-size: 15px;
  }

  /* SECTION-2 */
  .section-2 .heading-1 {
    font-size: 23px;
  }

  .section-2 .para {
    font-size: 15px;
  }

  /* SECTION-3 */
  .section-3 .heading-1 {
    font-size: 23px;
  }

  .section-3 .row .d-flex h3 {
    font-size: 21px;
  }

  .section-3 .row .d-flex p {
    font-size: 15px;
  }

  /* SECTION-4 */
  .section-4 .row .col-md-5 .text-white {
    font-size: 23px;
  }

  .section-4 .row .col-md-5 a {
    font-size: 15px;
  }

  .section-4 .para-1 {
    font-size: 15px;
  }

  .section-5 .get {
    font-size: 20px;
  }

  .section-5 .help {
    font-size: 20px;
  }

  .section-5 h5 {
    font-size: 14px;
  }
}

/* SMALLER MOBILE */
@media screen and (max-width:320px) {

  /* NAVBAR & SITE-CONTENT */
  .navbar-brand {
    font-size: 14px;
    margin-left: 0;
  }

  .navbar-toggler-icon {
    font-size: 12px;
  }
}